.meta {
    margin-block: 1lh;
    font-family: monospace;
    font-size: 80%;
    font-weight: 300;
    color: var(--silver2);
}

.meta a {
    text-decoration: none;
    color: var(--silver3);
}
.meta a:hover { text-decoration: underline; }

.meta.expanded {
    margin-block-start: 2lh;
}

.meta ol {
    list-style: none;
    margin: .5lh 0;
    padding: .5lh 2ch;
    border-left: 1ch solid var(--silver0);
}

article img {
    /* max-width: 100%; */
    max-height: 66vh;
    margin: 1lh 0;
}

.hidden { display: none; }

.h-cite {
    margin: 1lh 0;
    padding: 2ch;
    border: 1px solid var(--silver1);
    border-radius: 1ch;
    box-shadow: .5ch .2lh 0 var(--silver1);
}

.h-cite .p-author {
    margin: 0 0 var(--rhythm) 0;
}

.p-summary, article.like > h2 { font-size: 100%; }

article.like .h-entry .u-url {
    color: black;
    text-decoration: none;
    font-weight: normal;
}
article.like .h-entry .u-url:hover {
    text-decoration: underline;
}

h2.p-name a { text-decoration: none; }
