@import url(//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

html {
    font-size: 22px;
}

body {
    font: 1rem/1.35 'Crimson', 'Crimson Text';
    margin: 3rem;
    max-width: 30rem;
    color: #111;
    text-align: justify;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

em, strong {
    line-height: 1;
}

p > code {
    margin: 0 0.15rem;
}

code {
    font-size: 0.7rem;
    font-family: "Droid Sans Mono";
    color: hsl(220, 20%, 20%);
}

pre {
    margin: 1.35rem 1rem;
    line-height: 1.1;
}

@media screen and (max-width: 40rem) {
    pre {
        overflow-x: auto;
        max-width: 100%;
    }
}

hr {
    width: 25%;
    border: none;
    border-top: 1px solid #ccc;
}

@media screen and (min-width: 60rem) {
    img {
        max-width: 40rem !important;
    }
}

img {
    margin: 1.35rem 0;
    max-width: 100%;
}

a {
    color: hsl(3, 50%, 50%);
}

a:hover {
    color: hsl(-3, 60%, 60%);
}

ul {
    list-style: circle;
    margin: 1rem 0;
}

ol {
    margin: 1rem 0;
}

blockquote {
    margin: 0;
    padding: 0 0 0 1rem;
    border-left: 1rem solid #eee;
}

article {
    margin-bottom: 4rem;
}

article header {
    text-align: left;

    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

article header h1 {
    font-size: 1.55rem;
    margin-bottom: 0rem;
}

article header .permalink {
    position: absolute;
    text-decoration: none;
    margin-left: -1.3rem;
    margin-top: -0rem;
    color: #ccc;
}

/* hide meta data */
.dt-published, .p-author {
    display: none;
}

article:hover header .permalink {
    color: #666;
}

article h2 {
    font-size: 1.25rem;
    margin: 1.5rem 0 1rem;
}

article p {
    margin: 1rem 0;
}

nav {
    font-size: 20px;
    margin: 2em 0;
}

nav .previous, nav .next {
    margin: 0 1em;
}

object.example {
    width: 100%;
    height: 330px;
    padding: 1rem;
    box-sizing: border-box;
    border: solid 1rem hsl(220, 20%, 95%);
}

@media screen and (max-width: 600px) {
    html {
        font-size: 20px;
    }

    body {
        margin: 1rem;
        text-align: left;
    }

    .permalink {
        display: none;
    }
}
