* { margin: 0; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
/** end reset **/

:root {
    --left-gap: 4rem;
    --left-hang-gap: 3rem;
    --spacing: 2rem;
    --hero-height: var(--spacing);
    --rhythm: 1rem;
    --max-width: 55ch;
    --centering: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    gap: var(--spacing) 0;
    grid-template-rows: var(--hero-height) auto 1fr auto;
    grid-template-columns: var(--left-hang-gap) var(--centering) minmax(auto, var(--max-width)) 1fr var(--centering) var(--left-hang-gap);
    grid-template-areas:
        "hero hero hero hero hero hero"
        ". header header app-header app-header ."
        ". . main app-main . ."
        ". footer footer footer footer .";
}

body.with-hero { --hero-height: auto; }
body.no-hero { --hero-height: 0; }
.hero { grid-area: hero; }

body.center { --centering: 1fr; }

@media (max-width: 40rem) {
    :root {
        --left-gap: 2rem;
        --left-hang-gap: 1.5rem;
    }
}

/*** customisation ----------------------- */
.app-hidden { display: none; }

/*** header ------------------------------ */
header {
    grid-area: header;
}
header > h1, header hgroup {
    max-width: var(--max-width);
}
header p {
    max-width: var(--max-width);
    margin-top: var(--rhythm);
}
header hgroup {
    display: flex;
    gap: var(--rhythm);
}
header hgroup > * { margin: 0; display: inline-block; }
.hero { max-width: 100%; padding: var(--spacing) var(--left-gap); }
.hero img { height: auto; max-width: 100%; }

header.full-width {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    grid-area: header-start / header-start / header-start / app-header-end;
}
header.full-width h1 {
    font-size: 100%;
    margin: 0;
}
header.full-width h1 a { color: var(--silver); }
header.full-width ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: var(--rhythm);
}
header.full-width ul a { color: var(--red); }
header.full-width ul a:hover { color: var(--darkred); }

/*** main -------------------------------- */
main { grid-area: main; }
main > *:first-child { margin-top: 0 !important; }
main h2 { margin-top: var(--rhythm); }
main p { margin: var(--rhythm); }
main.full-width { grid-area: main-start / main-start / main-start / app-main-end; }

main dl { margin: 1rem; }
main dl dd { margin-left: 1rem; }

/*** footer ------------------------------ */
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    line-height: 3.4;
}

footer nav ul {
    padding: 0;
    display: flex;
    list-style: none;
}

footer nav li:not(:last-child):after {
    content: '>';
    margin: 0 .5rem;
}

/*** colouring in ***/
:root {
    --red: hsl(358, 68%, 45%);
    --darkred: hsl(358, 68%, 30%);
    --purple: hsl(260, 68%, 30%);
    --silver: hsl(0, 0%, 70%);
    --silver2: hsl(0, 0%, 50%);
    font-size: calc(14px + 0.2vw);
}

body { font: 100%/1.4 verdana, system-ui, sans-serif; }
body.blue {
    --red: hsl(220 52% 44%);
    --darkred: hsl(208 56% 38%);
}

header h1 { font-size: 150%; }
header hgroup p { font-size: 150%; }
.hero img { box-shadow: 0 1px 5px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.2); border-radius: 4px;}

h2 { font-style: italic; font-weight: normal; font-size: 100%; text-transform: lowercase; }
h2 + p { margin-top: 0; }

a {
    color: var(--red);
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 10%;
}
a:hover { color: var(--darkred); }
a:active { color: var(--purple); }
header a, footer a { color: unset; text-decoration: unset; }

code { font-size: 0.85rem; }
pre {
    border-top: 1px dashed var(--silver);
    border-bottom: 1px dashed var(--silver);
    padding: var(--rhythm) 0;
    overflow-x: auto;
    margin: 1rem;
}

footer {
    font-size: 80%;
    border-top: 1px solid var(--silver);
}

footer nav li:not(:last-child):after {
    color: var(--silver);
}

footer ul li:last-child {
    text-decoration: line-through;
}

/** blog.css */
article + article {
    margin-top: var(--spacing);
    padding-top: var(--spacing);
}

.meta {
    margin: var(--rhythm);
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--silver);
}

.meta a {
    text-decoration: none;
    color: var(--silver2);
}
.meta a:hover { text-decoration: underline; }

.meta.right {
    text-align: right;
    padding-top: .9rem;
    line-height: .1rem;
    border-bottom: 1px dashed var(--silver);
}
.meta.right a {
    background: white;
    padding-left: 0.8rem;
}

.meta.expanded {
    margin-top: var(--spacing);
}

article img {
    /* max-width: 100%; */
    max-height: 66vh;
    margin: var(--rhythm) 0;
}

.hidden { display: none; }

nav.arrows {
    margin: var(--spacing) 40%;
}

nav.arrows a {
    border: 1px solid var(--red);
    border-radius: .5rem;
    padding: .5rem;
    text-decoration: none;
}

nav.arrows a:hover {
    border-color: var(--darkred);
}

nav.arrows a:active {
    background: var(--red);
    color: white;
}

nav.arrows .older:before {
    content: '← ';
}

.h-cite {
    margin: var(--rhythm) 0;
    padding: var(--rhythm);
    border: 1px solid var(--silver);
    border-radius: calc(var(--rhythm) / 2);
    box-shadow: calc(var(--rhythm) / 2) calc(var(--rhythm) / 2) 0 var(--silver);
}

.h-cite .p-author {
    margin: 0 0 var(--rhythm) 0;
}

.e-content {
    margin: 0 var(--rhythm) var(--rhythm) var(--rhythm);
}
