<footer>
  <p>This is <a href="https://hawx.me/">my</a> weblog, but I also have other things written in <a href="https://hawx.me/weblog">another weblog</a>.</p>
  <p>Please do not be confused by that statement.</p>
</footer>
