<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ getOr . "name" "a post" }}</title>
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/public/styles.css" type="text/css" />
  </head>
  <body>
    <nav>
      <a href="/">&uarr; Back to the feed</a>
    </nav>

    {{ template "entry.gotmpl" . }}

    <section class="reactions">
      <ol>
        <li>
          Liked by <a href="#">John Doe</a>
        </li>
        <li>
          Reply from <a href="#">John Doe</a>
        </li>
        <li>
          Reposted by <a href="#">John Doe</a>
        </li>
      </ol>
    </section>

    <section class="reactions">
      <ol>
        {{ range .syndication }}
          <li>Syndicated to <a href="{{ . }}">{{ syndicationName . }}</a></li>
        {{ end }}
      </ol>
    </section>
    
    {{ template "footer.gotmpl" . }}

  </body>
</html>
