<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/pell/dist/pell.min.css" type="text/css" />

    <style>
      .is-hidden {
        display: none;
      }

      .editor img {
        max-width: 200px !important;
      }

      .navbar-item a {
        color: white;
      }

      #json_content {
        font-family: monospace;
      }

      #notification {
        max-width: 500px;
        z-index: 999;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    </style>
  </head>
  <body>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand h-app">
          <strong class="navbar-item p-name"><a class="u-url" href="{{ .AdminURL }}">tally-ho</a></strong>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <span class="navbar-item">{{ .Micropub }}</span>
          </div>
        </div>
      </div>
    </nav>

    {{ if .SignedIn }}
      <section class="section">
        <div class="container block">
          <div class="tabs">
            <ul>
              <li class="is-active"><a href="#page">Page</a></li>
              <li><a href="#note">Note</a></li>
              <li><a href="#post">Post</a></li>
              <li><a href="#json">JSON</a></li>
            </ul>
          </div>
        </div>

        <div id="page" class="container tabbed">
          <form method="post" action="{{ .Micropub }}" class="block">
            <div class="field">
              <label class="label" for="name">Page</label>
              <div class="control">
                <input class="input" name="name" id="name" />
              </div>
            </div>

            <input type="hidden" name="access_token" value="{{ .AccessToken }}" />
            <input type="hidden" name="action" value="hx-page" />

            <div class="field">
              <div class="control">
                <button class="button" type="submit">Set next page</button>
              </div>
            </div>
          </form>

          <article class="message">
            <div class="message-body content">
              <p>The current page is &ldquo;{{ .CurrentPage }}&rdquo;.</p>

              <p>This will only make sense if posting to a <strong>tally-ho</strong> instance.</p>
            </div>
          </article>
        </div>

        <div id="note" class="container tabbed">
          <form>
            <div class="field">
              <label class="label" for="content">Content</label>
              <div class="control">
                <textarea class="textarea" name="content" id="content"></textarea>
              </div>
            </div>

            <input type="hidden" name="h" value="entry" />

            <div class="field">
              <div class="control">
                <button class="button" type="submit">Create new note</button>
              </div>
            </div>
          </form>
        </div>

        <div id="post" class="container tabbed">
          <form>
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" name="name" id="name" />
              </div>
            </div>

            <div class="field">
              <label class="label">Content</label>
              <div class="control content editor">
                <input class="input is-hidden" name="content" />
              </div>
            </div>

            <input type="hidden" name="access_token" value="{{ .AccessToken }}" />
            <input type="hidden" name="h" value="entry" />

            <div class="field">
              <div class="control">
                <button class="button" type="submit">Create new post</button>
              </div>
            </div>
          </form>
        </div>

        <div id="json" class="container tabbed">
          <form>
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" name="url" placeholder="http://example.com/blog/my-post">
              </p>
              <p class="control">
                <button class="button is-info" type="button" name="load">Load</button>
              </p>
            </div>

            <div class="field">
              <label class="label" for="json_content">JSON</label>
              <div class="control">
                <textarea class="textarea" name="content" id="json_content" rows="15">{
  "type": ["h-entry"],
  "properties": {

  }
}</textarea>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button" type="submit">Create new post</button>
              </div>
            </div>
          </form>
        </div>
      </section>

      <div id="notification" class="notification is-hidden">
        <button class="delete"></button>
        Post created at <a></a>
      </div>

      <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Insert image</p>
            <button class="delete" aria-label="close"></button>
          </header>
          <section class="modal-card-body">
            <div class="file has-name is-fullwidth is-right">
              <label class="file-label">
                <input class="file-input" type="file" accept="image/*" name="image">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span id="file-name" class="file-name"></span>
              </label>
            </div>
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success">Upload & Insert</button>
            <button class="button">Cancel</button>
          </footer>
        </div>
      </div>

    {{ else }}
      <section class="section">
        <div class="container has-text-centered">
          <a class="button" href="{{.AdminURL}}sign-in">Sign-in</a>
        </div>
      </section>
    {{ end }}

    <script src="https://unpkg.com/pell"></script>
    <script>
      const token = '{{ .AccessToken }}';
      const micropub = '{{ .Micropub }}';
      const media = '{{ .Media }}';
    </script>
    <script src="{{ .AdminURL }}public/admin.js"> </script>
  </body>
</html>
