<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>a day</title>
    {{ template "meta.gotmpl" }}
  </head>
  <body>
    <nav>
      <a href="/">&uarr; Back to the feed</a>
    </nav>

    {{ range . }}
      {{ template "plain-entry.gotmpl" .Properties }}
    {{ end }}
    
    {{ template "footer.gotmpl" . }}
  </body>
</html>
