<div class="meta">
  <a class="u-url" href="{{ get . "url" }}" title="{{ get . "published" }}">
    <time class="dt-published" pubdate="{{ get . "published" }}">
      {{ humanDate . "published" }}
    </time>
  </a>
  <a class="u-author h-card hidden" href="https://hawx.me/">Joshua Hawxwell</a>
</div>
