<article class="h-entry book">
  <h1 class="p-summary">
    {{ humanReadStatus . }} <span class="h-cite"><strong class="p-name">{{ get . "read-of.properties.name" }}</strong> by <strong class="p-author">{{ get . "read-of.properties.author" }}</strong></span>
  </h1>

  {{ template "entry_meta.gotmpl" . }}
</article>
