<footer>
  <p>
    This is <a href="https://hawx.me/">my</a> weblog, but I also have other things written in <a href="https://hawx.me/weblog">another weblog</a> if you want to look at that.<br/>
    &copy; 2020 Joshua Hawxwell.
  </p>
</footer>
