<link href="https://fonts.googleapis.com/css?family=Signika+Negative&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/public/normalize.css" type="text/css" />
<link rel="stylesheet" href="/public/styles.css" type="text/css" />
<link rel="webmention" href="/-/webmention" />
<link rel="alternate" href="/feed/atom" type="application/atom+xml" />
<link rel="alternate" href="/feed/jsonfeed" type="application/json" />
<link rel="alternate" href="/feed/rss" type="application/rss+xml" />
