<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="css/screen.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="alternate" type="application/rss+xml" title="feed" href="/weblog/feed.xml" />
    <link rel="stylesheet" href="https://hawx.me/weblog/styles.css" />
    <link rel="stylesheet" href="https://hawx.me/weblog/print.css" media="print" />
  </head>
  <body>
    {{ range .Posts }}
      {{ template "entry.gotmpl" . }}
    {{ end }}

    <nav>
      {{ if .PrevPage }}
        <span class="previous">
          <a href="{{ .PrevPage.URL }}">&laquo; {{ .PrevPage.Name }}</a>
        </span>
      {{ end }}

      {{ if .NextPage }}
        <span class="next">
          <a href="{{ .NextPage.URL }}">{{ .NextPage.Name }} &raquo;</a>
        </span>
      {{ end }}
    </nav>

    {{ . }}
  </body>
</html>
