<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ .BaseURL }}public/styles.css" />
    <link rel="stylesheet" href="{{ .BaseURL }}public/print.css" media="print" />
    <link rel="alternate" type="application/rss+xml" title="feed" href="/weblog/feed.xml" />
  </head>
  <body>
    {{ range .Posts }}
      <article class="h-entry">
        <header>
          <a class="permalink u-url" title="{{ get . "published" }}" href="{{ get . "url" }}">&#x2020;</a>
          <h1 class="p-name">{{ getOr . "name" "" }}</h1>
          <time class="dt-published" datetime="{{ get . "published" }}" pubdate="pubdate">{{ get . "published" }}</time>
          <a rel="author" class="p-author h-card" href="{{ $.Meta.AuthorURL }}">{{ $.Meta.AuthorName }}</a>
        </header>

        <div class="e-content">
          {{ template "content.gotmpl" . }}
        </div>
      </article>
    {{ end }}

    <nav>
      {{ if .PrevPage }}
        <span class="previous">
          <a href="{{ .PrevPage.URL }}">&laquo; {{ .PrevPage.Name }}</a>
        </span>
      {{ end }}

      {{ if .NextPage }}
        <span class="next">
          <a href="{{ .NextPage.URL }}">{{ .NextPage.Name }} &raquo;</a>
        </span>
      {{ end }}
    </nav>

    {{ . }}
  </body>
</html>
