<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    {{ template "meta.gotmpl" }}
  </head>
  <body>
    {{ if .Kind }}
      <p class="page">kind <strong>{{ .Kind }}</strong></p>
    {{ else if .Category }}
      <p class="page">category <strong>{{ .Category }}</strong></p>
    {{ end }}

    {{ if eq .OlderThan "NOMORE" }}
      <p>👏 You have reached the end. Try going back to the <a class="latest" href="/">Latest</a>.</p>
    {{ else }}
      {{ range .GroupedPosts }}
        {{ template "entry_grouping.gotmpl" . }}
      {{ end }}

      <nav class="arrows">
        {{ if not (eq .OlderThan "") }}
          <a class="older" href="?before={{ .OlderThan }}">Older</a>
        {{ end }}
        {{ if .ShowLatest }}
          <a class="latest" href="/">Latest</a>
        {{ end }}
      </nav>
    {{ end }}
    
    {{ template "footer.gotmpl" }}
  </body>
</html>
