<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    {{ template "meta.gotmpl" }}
  </head>
  <body>

    <p class="page">mentions</p>

    {{ if eq .OlderThan "NOMORE" }}
      <p>👏 You have reached the end. Try going back to the <a class="latest" href="/">Latest</a>.</p>
    {{ else }}
      <ul class="mentions">
        {{ range .Items }}
          <li>
            <a class="target" href="{{ get .Properties "hx-target" }}">{{ get .Properties "hx-target" }}</a>
            {{ if has .Properties "in-reply-to" }}reply from{{ else if has .Properties "repost-of" }}reposted by{{ else if has .Properties "like-of" }}liked by{{ else }}mentioned by{{ end }}
            <a href="{{ .Subject }}">{{ if has .Properties "author" }}{{ if has .Properties "author.properties.name" }}{{ get .Properties "author.properties.name" }}{{ else }}{{ get .Properties "author.properties.url" }}{{ end }}{{ else }}{{ .Subject }}{{ end }}</a>
          </li>
        {{ end }}
      </ul>

      <nav class="arrows">
        {{ if not (eq .OlderThan "") }}
          <a class="older" href="?before={{ .OlderThan }}">Older</a>
        {{ end }}
        {{ if .ShowLatest }}
          <a class="latest" href="/mentions">Latest</a>
        {{ end }}
      </nav>
    {{ end }}
    
    {{ template "footer.gotmpl" }}
  </body>
</html>
