<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    {{ template "meta.gotmpl" }}
  </head>
  <body>
    <nav>
      <a href="/">&uarr; Back to the feed</a>
    </nav>

    {{ range .Items }}
      {{ with .Properties }}
        <article class="h-entry {{ get . "hx-kind" }}">
          {{ template "entry.gotmpl" . }}
          {{ template "entry_meta.gotmpl" . }}
        </article>
      {{ end }}
    {{ end }}
    
    {{ template "footer.gotmpl" }}
  </body>
</html>
