<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ getOr .Properties "name" "some post" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ .BaseURL }}public/screen.css" />
    <link rel="stylesheet" href="{{ .BaseURL }}public/print.css" media="print" />
    <link rel="alternate" type="application/rss+xml" title="feed" href="/weblog/feed.xml" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ getOr .Properties "name" "some post" }}" />
    <meta property="og:url" content="{{ mustGet .Properties "url" }}" />
    <!-- <meta property="og:description" content="{{ content .Properties }}" /> -->

  </head>
  <body>
    <nav>
      <span>
        <a href="{{ .PageURL }}">↟ {{ mustGet .Properties "hx-page" }}</a>
      </span>
    </nav>

    {{ template "entry.gotmpl" .Properties }}

    {{ . }}
  </body>
</html>
