<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title .Entry }}</title>
    {{ template "meta.gotmpl" }}
  </head>
  <body>
    <nav>
      <a href="/">&uarr; Back to the feed</a>
    </nav>

    {{ template "entry.gotmpl" .Posts }}

    {{ with .Posts.Meta }}
      <div class="meta more">
        {{ if has . "hx-client-id" }}
          <div>
            <a href="/kind/{{ get . "hx-kind" }}">{{ get . "hx-kind" }}</a>
            posted by
            <a href="{{ get . "hx-client-id" }}">{{ get . "hx-client-id" }}</a>
          </div>
        {{ end }}
        {{ if .syndication }}
          <div>
            syndicated to
            {{ range withEnd .syndication }}
              <a href="{{ .El }}">{{ syndicationName .El }}</a>{{ if not .End }}, {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ if .category }}
          <div>
            filed under
            {{ range withEnd .category }}
              <a href="/category/{{ .El }}">{{ .El }}</a>{{ if not .End }}, {{ end }}
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}

    {{ if .Mentions }}
      <section class="reactions">
        <ol>
          {{ range .Mentions }}
            <li>
              {{ if has .Properties "in-reply-to" }}
                Reply from
              {{ else if has .Properties "repost-of" }}
                Reposted by
              {{ else if has .Properties "like-of" }}
                Liked by
              {{ else }}
                Mentioned by
              {{ end }}
              &thinsp;<a href="{{ .Subject }}">
                {{ if has .Properties "author" }}
                  {{ if has .Properties "author.properties.name" }}
                    {{ get .Properties "author.properties.name" }}
                  {{ else }}
                    {{ get .Properties "author.properties.url" }}
                  {{ end }}
                {{ else }}
                  {{ .Subject }}
                {{ end }}
              </a>
            </li>
          {{ end }}
        </ol>
      </section>
    {{ end }}
    
    {{ template "footer.gotmpl" . }}

  </body>
</html>
